@import "tailwindcss";

:root {
  --desktop-container: 1168px;
}

@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
  --color-main-bg: #ecf3fd;
  --color-white-bg: #fcfdff;
  --color-dark-bg: #1f2535;
  --color-hover-dark-bg: #525868;
  --color-hover-dark-bg-btn: #f35b56;
  --color-main-border: #d9dfeb;
  --color-main-border-dark: #51566a;
  --color-main-border-dark-header: #040918;
  --color-dark-mode-switch-bg: #eeeef0;
  --color-dark-mode-switch-bg-dark: #2f354b;
  --color-primary: #09153d;
  --color-dark-primary: #f8fcfd;
  --color-active-switch-bg: #ca211a;
  --color-inactive-switch-bg: #c6c6c6;
  --color-button-border: #c6c6c6;
  --color-active-filter: #c7221c;
  --color-active-filter-border: #a92f2c;
  --color-main-bg-top: #ebf2fc;
  --color-main-bg-bottom: #eef8f9;
  --color-main-bg-top-dark: #040918;
  --color-main-bg-bottom-dark: #091540;
  --breakpoint-fm: 1168px;
}

@custom-variant dark (&:where(.dark, .dark *));
